// 文字設定
* {
    font-family: "Noto Sans TC", "PingFangTC", 'Microsoft JhengHei';
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
.main-content {
    background-color: $bg;
    line-height: 1.5;
    font-size: var(--font-size);
    ::selection {
        background: $bg;
        // color: $bfWhite;
    }
    * {
        font-size: var(--font-size);
    }
    .material-icons {
        font-family: "Material Icons";
    }
}

a {
    text-decoration: none;
    transition: all 0.15s ease 0s;
    font-size: inherit;
    color: inherit;
    text-size-adjust: none;
}
a:hover,
a:active,
a:focus,
a:focus-within,
a:focus-within,
a:target,
a:visited {
    text-decoration: none;
    outline: unset;
}

div,
p,
a {
    font-size: calc(1 * var(--font-size));
    line-height: calc(1.375 * var(--font-size));
}

.t-c {
    text-align: center !important;
}
.t-l {
    text-align: left !important;
}
.t-r {
    text-align: right !important;
}

.underline {
    text-decoration: underline !important;
}

.HugeTitle {
    font-size: calc(2.125 * var(--font-size));
    line-height: calc(2.5625 * var(--font-size));
    vertical-align: middle;
    font-weight: bold;
    color: $bfDark;
}

.LargeTitle {
    font-size: calc(1.5 * var(--font-size));
    line-height: calc(1.8125 * var(--font-size));
    vertical-align: middle;
    font-weight: bold;
    color: $bfDark;
}

.Title {
    font-size: calc(1.25 * var(--font-size));
    line-height: 1.5;
    vertical-align: middle;
    font-weight: bold;
    color: $bfDark;
}

.Headline {
    font-size: calc(1.125 * var(--font-size));
    line-height: calc(1.5 * var(--font-size));
    vertical-align: middle;
    font-weight: bold;
    color: $bfDark;
}

.Headline2 {
    font-size: calc(1 * var(--font-size));
    line-height: calc(1.1875 * var(--font-size));
    vertical-align: middle;
    font-weight: bold;
    color: $bfDark;
}

.Subhead1,
.Subhead1-M {
    font-size: calc(0.9375 * var(--font-size));
    line-height: calc(1.125 * var(--font-size));
    vertical-align: middle;
}
.Subhead1-M {
    font-weight: bold;
    vertical-align: middle;
}
.Subhead2,
.Subhead2-M {
    font-size: calc(0.875 * var(--font-size));
    line-height: calc(1.0625 * var(--font-size));
    vertical-align: middle;
}
.Subhead2-M {
    font-weight: bold;
    vertical-align: middle;
}

.Body1 {
    font-size: calc(1 * var(--font-size));
    line-height: calc(1.375 * var(--font-size));
    vertical-align: middle;
}
.Body2 {
    font-size: calc(0.9375 * var(--font-size));
    line-height: calc(1.375 * var(--font-size));
    vertical-align: middle;
}

.Body3 {
    font-size: calc(0.8125 * var(--font-size));
    line-height: calc(1.25 * var(--font-size));
    vertical-align: middle;
}
.Body4 {
    font-size: calc(0.75 * var(--font-size));
    line-height: calc(1 * var(--font-size));
    vertical-align: middle;
}
.link {
    font-size: calc(0.9375 * var(--font-size));
    line-height: calc(1.375 * var(--font-size));
    vertical-align: middle;
}
.caption1,
.caption1-M {
    font-size: calc(0.8125 * var(--font-size));
    line-height: calc(1 * var(--font-size));
    vertical-align: middle;
    color: $bfDarkGray;
    .material-icons {
        vertical-align: sub;
    }
}
.caption1-M {
    font-weight: bold;
}
.caption2,
.caption2-M {
    font-size: calc(0.75 * var(--font-size));
    line-height: calc(0.8125 * var(--font-size));
    vertical-align: middle;
    color: $bfDarkGray;
}
.caption2-M {
    font-weight: bold;
}
.caption3,
.caption3-M {
    font-size: calc(0.65 * var(--font-size));
    line-height: calc(0.75 * var(--font-size));
    vertical-align: middle;
    color: $bfDarkGray;
}
.caption3-M {
    font-weight: bold;
}

.section-title {
    padding: calc(1 * var(--font-size)) 0;
}

.bold {
    font-weight: bold !important;
}

.ita {
    font-style: italic !important;
}
// 字體顏色設定

$text-color: (
    "black": $bfBlack,
    "dark": $bfDark,
    "bluedark": $bfBlueDark,
    "darkgray": $bfDarkGray,
    "mediumgray ": $bfMediumGray,
    "gray": $bfGray,
    "lightgray": $bfLightGray,
    "slightlygray": $bfSlightlyGray,
    "softwhite": $bfSoftWhite,
    "bluesoftwhite": $bfBlueSoftWhite,
    "white": $bfWhite,
    "darkprimary": $bfDarkPrimary,
    "primary": $bfPrimary,
    "lightprimary": $bfLightPrimary,
    "darksecondarya": $bfDarkSecondaryA,
    "secondarya": $bfSecondaryA,
    "lightsecondarya": $bfLightSecondaryA,
    "secondaryb": $bfSecondaryB,
    "warning": $bfWarning,
    "danger": $bfDanger,
    "link": $bfLink,
);

@each $name, $color in $text-color {
    .text-#{$name} {
        color: $color !important;
    }
}
