.chip-tabs {
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: auto;
    padding: calc( 0.25 * var(--font-size) ) calc( 1.25 * var(--font-size) ) calc( 0.75 * var(--font-size) ) calc( 1.25 * var(--font-size) );
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.chip-tab-item {
    display: inline-block;
    padding: calc( 0.3 * var(--font-size) ) calc( 0.75 * var(--font-size) );
    border-radius: calc(  2 * var(--font-size) );
    color: $bfMediumGray;
    font-size: calc( 0.8125 * var(--font-size) );
    line-height: calc( 1.125 * var(--font-size) );
    transition: 0.1s;

    & + .chip-tab-item {
        margin-left: calc( 0.75 * var(--font-size) );
    }

    &.active {
        background-color: $bfPrimary;
        color: $bfWhite;
    }
}

// 固定下方的分享 tab bar

.tab-bar {
    position: fixed;
    bottom: 0;
    padding: calc( 0.75 * var(--font-size) ) calc( 1 * var(--font-size) ) calc( 2.125 * var(--font-size) ) calc( 1 * var(--font-size) );
    background: $bfWhite;
    width: 100%;
    box-sizing: border-box;
    border-radius: calc( 1.25 * var(--font-size) ) calc( 1.25 * var(--font-size) ) 0 0s;
    box-shadow: 0px 0px calc( 1 * var(--font-size) ) rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-evenly;
}

.tab-bar-item, button.tab-bar-item {
    border: unset;
    background: unset;
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bfDarkGray;
    .img {
        width: calc( 1.875 * var(--font-size) );
        padding-top: calc( 1.875 * var(--font-size) );
    }
    &[disabled="disabled"], &[disabled] {
        cursor: not-allowed;
        * {
            color: $bfGray;
        }
    }
}

.tab-menu {
    display: flex;
    overflow-y: auto;
    padding: 0 20px;
    border-bottom: 1px solid $bfSoftWhite;
}

.tab-menu-item {
    padding: 6px 12px;
    font-size: calc(.833 * var(--font-size));
    color: $bfMediumGray;
    flex-shrink: 0;
    label {
        color: $bfMediumGray;
        transition: $transition;
    }
    &:before {
        content: "";
        position: absolute;
        transition: $transition;
        width: 0;
        height: 2px;
        bottom: 0;
    }
    &.active {
        position: relative;
        color: $bfPrimary;
        font-weight: 500;
        &:before {
            background: $bfPrimary;
            width: 100%;
            right: 0;
        }
        label {
            color: $bfPrimary;
            font-weight: 500;
        }
    }
    &.toLeft {
        &:before {
            right: 0;
        }
    }
    &.toRight {
        &:before {
            left: 0%;
        }
    }
}

.tab-content {
    padding: calc( 1 * var(--font-size) );
    .no-result {
        width: calc( 7.0625 * var(--font-size) );
        padding-top: calc( 5.3125 * var(--font-size) );
        margin-top: calc( 5.75 * var(--font-size) );
        margin-bottom: calc( 1.43 * var(--font-size) );
        img {
            min-width: 100%;
            min-height: 100%;
        }
    }
}
